# <h1 style='text-align : center; color:green'> Finance Data Project </h1> <br>
<p style='float:right'> Aamir Mohiuddin Malla </p>

---

### Introduction
*In this data project, we focus on EDA of stock prices.*

### Get the Data
Here we will get the data directly from Google Finance using pandas!

First we need to start with the proper imports.
* Note: We'll need to install **yfinance** for this work. *Pandas datareader allow us to read stock information directly from the internet.*

    pip install yfinance

### The Imports

In [15]:
import yfinance as yf
import pandas as pd
import numpy as np
import datetime
%matplotlib inline

### Data
We need to get data using pandas datareader. We will get stock information for the following banks:
* Bank of America
* CitiGroup
* Goldman Sachs
* JPMorgan Chase
* Wells Fargo

We will get the data from Jan 1st 2006 to Jan Ist 2016 for each of these banks. {Setting each bank to be a separate dataframe, with the variable name for that bank being its ticker symbool}. This will involve a few steps:

i. User **datetime** to set start and end datetime objects.
ii. Figure out the ticker symbol for each bank.
iii. Figure out how to use datareader to grab info on the stock.

    # Bank of America
    BAC = yf.download("BAC",'google', start, end)

In [16]:
start_date = datetime.datetime(2006,1,1)
end_date = datetime.datetime(2016,1,1)

In [17]:
# Bank of America
BAC = yf.download('BAC', start_date, end_date)

[*********************100%***********************]  1 of 1 completed

In [18]:
BAC.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2006-01-03 00:00:00-05:00,46.919998,47.180000,46.150002,47.080002,33.170315,16296700
2006-01-04 00:00:00-05:00,47.000000,47.240002,46.450001,46.580002,32.818035,17757900
2006-01-05 00:00:00-05:00,46.580002,46.830002,46.320000,46.639999,32.860302,14970700
2006-01-06 00:00:00-05:00,46.799999,46.910000,46.349998,46.570000,32.810982,12599800
2006-01-09 00:00:00-05:00,46.720001,46.970001,46.360001,46.599998,32.832130,15619400

In [19]:
#we can read stock information of required banks simultaneaously as
ticker = 'BAC C GS JPM MS WFC'
bank_stocks = yf.download(ticker, start_date, end_date)

[*********************100%***********************]  6 of 6 completed

In [20]:
#check data
bank_stocks.head()

                           Adj Close                                     \
                                 BAC           C          GS        JPM
Date
2006-01-03 00:00:00-05:00  33.170315  354.033661  101.194191  25.504080
2006-01-04 00:00:00-05:00  32.818031  347.497314   99.796455  25.356871
2006-01-05 00:00:00-05:00  32.860306  349.221161   99.757195  25.433685
2006-01-06 00:00:00-05:00  32.810978  349.221161  101.170616  25.612881
2006-01-09 00:00:00-05:00  32.832111  347.569214  102.387726  26.028879

                                                     Close              \
                                  MS        WFC        BAC           C
Date
2006-01-03 00:00:00-05:00  34.886658  19.975792  47.080002  492.899994
2006-01-04 00:00:00-05:00  34.910568  19.744104  46.580002  483.799988
2006-01-05 00:00:00-05:00  35.006294  19.722193  46.639999  486.200012
2006-01-06 00:00:00-05:00  35.042194  19.838030  46.570000  486.200012
2006-01-09 00:00:00-05:00  35.413136  19.834904  46.599998  483.899994

                                                  ...        Open             \
                                   GS        JPM  ...          GS        JPM
Date                                              ...
2006-01-03 00:00:00-05:00  128.869995  40.189999  ...  126.699997  39.830002
2006-01-04 00:00:00-05:00  127.089996  39.619999  ...  127.349998  39.779999
2006-01-05 00:00:00-05:00  127.040001  39.740002  ...  126.000000  39.610001
2006-01-06 00:00:00-05:00  128.839996  40.020000  ...  127.290001  39.919998
2006-01-09 00:00:00-05:00  130.389999  40.669998  ...  128.500000  39.880001

                                                   Volume                    \
                                  MS        WFC       BAC        C       GS
Date
2006-01-03 00:00:00-05:00  57.169998  31.600000  16296700  1537600  6188700
2006-01-04 00:00:00-05:00  58.700001  31.799999  17757900  1870960  4861600
2006-01-05 00:00:00-05:00  58.549999  31.500000  14970700  1143160  3717400
2006-01-06 00:00:00-05:00  58.770000  31.580000  12599800  1370210  4319600
2006-01-09 00:00:00-05:00  58.630001  31.674999  15619400  1680740  4723500


                                JPM       MS       WFC
Date
2006-01-03 00:00:00-05:00  12838600  5377000  11016400
2006-01-04 00:00:00-05:00  13491500  7977800  10870000
2006-01-05 00:00:00-05:00   8109400  5778000  10158000
2006-01-06 00:00:00-05:00   7966900  6889800   8403800
2006-01-09 00:00:00-05:00  16575200  4144500   5619600

[5 rows x 36 columns]

In [35]:
df = bank_stocks.copy(deep=True)

In [36]:
df.head()

                           Adj Close                                     \
                                 BAC           C          GS        JPM
Date
2006-01-03 00:00:00-05:00  33.170315  354.033661  101.194191  25.504080
2006-01-04 00:00:00-05:00  32.818031  347.497314   99.796455  25.356871
2006-01-05 00:00:00-05:00  32.860306  349.221161   99.757195  25.433685
2006-01-06 00:00:00-05:00  32.810978  349.221161  101.170616  25.612881
2006-01-09 00:00:00-05:00  32.832111  347.569214  102.387726  26.028879

                                                     Close              \
                                  MS        WFC        BAC           C
Date
2006-01-03 00:00:00-05:00  34.886658  19.975792  47.080002  492.899994
2006-01-04 00:00:00-05:00  34.910568  19.744104  46.580002  483.799988
2006-01-05 00:00:00-05:00  35.006294  19.722193  46.639999  486.200012
2006-01-06 00:00:00-05:00  35.042194  19.838030  46.570000  486.200012
2006-01-09 00:00:00-05:00  35.413136  19.834904  46.599998  483.899994

                                                  ...        Open             \
                                   GS        JPM  ...          GS        JPM
Date                                              ...
2006-01-03 00:00:00-05:00  128.869995  40.189999  ...  126.699997  39.830002
2006-01-04 00:00:00-05:00  127.089996  39.619999  ...  127.349998  39.779999
2006-01-05 00:00:00-05:00  127.040001  39.740002  ...  126.000000  39.610001
2006-01-06 00:00:00-05:00  128.839996  40.020000  ...  127.290001  39.919998
2006-01-09 00:00:00-05:00  130.389999  40.669998  ...  128.500000  39.880001

                                                   Volume                    \
                                  MS        WFC       BAC        C       GS
Date
2006-01-03 00:00:00-05:00  57.169998  31.600000  16296700  1537600  6188700
2006-01-04 00:00:00-05:00  58.700001  31.799999  17757900  1870960  4861600
2006-01-05 00:00:00-05:00  58.549999  31.500000  14970700  1143160  3717400
2006-01-06 00:00:00-05:00  58.770000  31.580000  12599800  1370210  4319600
2006-01-09 00:00:00-05:00  58.630001  31.674999  15619400  1680740  4723500


                                JPM       MS       WFC
Date
2006-01-03 00:00:00-05:00  12838600  5377000  11016400
2006-01-04 00:00:00-05:00  13491500  7977800  10870000
2006-01-05 00:00:00-05:00   8109400  5778000  10158000
2006-01-06 00:00:00-05:00   7966900  6889800   8403800
2006-01-09 00:00:00-05:00  16575200  4144500   5619600

[5 rows x 36 columns]

### EDA
---

**1.  Max Closing Price for each banks throughout the time period.**

In [45]:
df['Close'].max()

BAC     54.900002
C      564.099976
GS     247.919998
JPM     70.080002
MS      89.300003
WFC     58.520000
dtype: float64