# <h1 style='text-align : center; color:green'> Finance Data Project </h1> <br>
<p style='float:right'> Aamir Mohiuddin Malla </p>

---

### Introduction
*In this data project, we focus on EDA of stock prices.*

### Get the Data
Here we will get the data directly from Google Finance using pandas!

First we need to start with the proper imports.
* Note: We'll need to install **yfinance** for this work. *Pandas datareader allow us to read stock information directly from the internet.*

    pip install yfinance

### The Imports

In [1]:
import yfinance as yf
import pandas as pd
import numpy as np
import datetime
%matplotlib inline

### Data
We need to get data using pandas datareader. We will get stock information for the following banks:
* Bank of America
* CitiGroup
* Goldman Sachs
* JPMorgan Chase
* Wells Fargo

We will get the data from Jan 1st 2006 to Jan Ist 2016 for each of these banks. {Setting each bank to be a separate dataframe, with the variable name for that bank being its ticker symbool}. This will involve a few steps:

i. User **datetime** to set start and end datetime objects.
ii. Figure out the ticker symbol for each bank.
iii. Figure out how to use datareader to grab info on the stock.

    # Bank of America
    BAC = yf.download("BAC",'google', start, end)

In [5]:
start_date = datetime.datetime(2006,1,1)
end_date = datetime.datetime(2016,1,1)

In [6]:
# Bank of America
BAC = yf.download('BAC', start_date, end_date)

[*********************100%***********************]  1 of 1 completed

In [7]:
BAC.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2006-01-03 00:00:00-05:00,46.919998,47.180000,46.150002,47.080002,33.170311,16296700
2006-01-04 00:00:00-05:00,47.000000,47.240002,46.450001,46.580002,32.818043,17757900
2006-01-05 00:00:00-05:00,46.580002,46.830002,46.320000,46.639999,32.860313,14970700
2006-01-06 00:00:00-05:00,46.799999,46.910000,46.349998,46.570000,32.810993,12599800
2006-01-09 00:00:00-05:00,46.720001,46.970001,46.360001,46.599998,32.832127,15619400

In [8]:
#we can read stock information of required banks simultaneaously as
ticker = 'BAC C GS JPM MS WFC'
bank_stocks = yf.download(ticker, start_date, end_date)

[*********************100%***********************]  6 of 6 completed

In [9]:
#check data
bank_stocks.head()

                           Adj Close                                     \
                                 BAC           C          GS        JPM
Date
2006-01-03 00:00:00-05:00  33.170307  354.033600  101.194145  25.504066
2006-01-04 00:00:00-05:00  32.818031  347.497406   99.796417  25.356884
2006-01-05 00:00:00-05:00  32.860313  349.221313   99.757187  25.433689
2006-01-06 00:00:00-05:00  32.810989  349.221313  101.170624  25.612875
2006-01-09 00:00:00-05:00  32.832127  347.569153  102.387756  26.028883

                                                     Close              \
                                  MS        WFC        BAC           C
Date
2006-01-03 00:00:00-05:00  34.886639  19.975800  47.080002  492.899994
2006-01-04 00:00:00-05:00  34.910576  19.744106  46.580002  483.799988
2006-01-05 00:00:00-05:00  35.006298  19.722195  46.639999  486.200012
2006-01-06 00:00:00-05:00  35.042198  19.838037  46.570000  486.200012
2006-01-09 00:00:00-05:00  35.413143  19.834908  46.599998  483.899994

                                                  ...        Open             \
                                   GS        JPM  ...          GS        JPM
Date                                              ...
2006-01-03 00:00:00-05:00  128.869995  40.189999  ...  126.699997  39.830002
2006-01-04 00:00:00-05:00  127.089996  39.619999  ...  127.349998  39.779999
2006-01-05 00:00:00-05:00  127.040001  39.740002  ...  126.000000  39.610001
2006-01-06 00:00:00-05:00  128.839996  40.020000  ...  127.290001  39.919998
2006-01-09 00:00:00-05:00  130.389999  40.669998  ...  128.500000  39.880001

                                                   Volume                    \
                                  MS        WFC       BAC        C       GS
Date
2006-01-03 00:00:00-05:00  57.169998  31.600000  16296700  1537600  6188700
2006-01-04 00:00:00-05:00  58.700001  31.799999  17757900  1870960  4861600
2006-01-05 00:00:00-05:00  58.549999  31.500000  14970700  1143160  3717400
2006-01-06 00:00:00-05:00  58.770000  31.580000  12599800  1370210  4319600
2006-01-09 00:00:00-05:00  58.630001  31.674999  15619400  1680740  4723500


                                JPM       MS       WFC
Date
2006-01-03 00:00:00-05:00  12838600  5377000  11016400
2006-01-04 00:00:00-05:00  13491500  7977800  10870000
2006-01-05 00:00:00-05:00   8109400  5778000  10158000
2006-01-06 00:00:00-05:00   7966900  6889800   8403800
2006-01-09 00:00:00-05:00  16575200  4144500   5619600

[5 rows x 36 columns]

In [10]:
df = bank_stocks.copy(deep=True)

In [11]:
df.head()

                           Adj Close                                     \
                                 BAC           C          GS        JPM
Date
2006-01-03 00:00:00-05:00  33.170307  354.033600  101.194145  25.504066
2006-01-04 00:00:00-05:00  32.818031  347.497406   99.796417  25.356884
2006-01-05 00:00:00-05:00  32.860313  349.221313   99.757187  25.433689
2006-01-06 00:00:00-05:00  32.810989  349.221313  101.170624  25.612875
2006-01-09 00:00:00-05:00  32.832127  347.569153  102.387756  26.028883

                                                     Close              \
                                  MS        WFC        BAC           C
Date
2006-01-03 00:00:00-05:00  34.886639  19.975800  47.080002  492.899994
2006-01-04 00:00:00-05:00  34.910576  19.744106  46.580002  483.799988
2006-01-05 00:00:00-05:00  35.006298  19.722195  46.639999  486.200012
2006-01-06 00:00:00-05:00  35.042198  19.838037  46.570000  486.200012
2006-01-09 00:00:00-05:00  35.413143  19.834908  46.599998  483.899994

                                                  ...        Open             \
                                   GS        JPM  ...          GS        JPM
Date                                              ...
2006-01-03 00:00:00-05:00  128.869995  40.189999  ...  126.699997  39.830002
2006-01-04 00:00:00-05:00  127.089996  39.619999  ...  127.349998  39.779999
2006-01-05 00:00:00-05:00  127.040001  39.740002  ...  126.000000  39.610001
2006-01-06 00:00:00-05:00  128.839996  40.020000  ...  127.290001  39.919998
2006-01-09 00:00:00-05:00  130.389999  40.669998  ...  128.500000  39.880001

                                                   Volume                    \
                                  MS        WFC       BAC        C       GS
Date
2006-01-03 00:00:00-05:00  57.169998  31.600000  16296700  1537600  6188700
2006-01-04 00:00:00-05:00  58.700001  31.799999  17757900  1870960  4861600
2006-01-05 00:00:00-05:00  58.549999  31.500000  14970700  1143160  3717400
2006-01-06 00:00:00-05:00  58.770000  31.580000  12599800  1370210  4319600
2006-01-09 00:00:00-05:00  58.630001  31.674999  15619400  1680740  4723500


                                JPM       MS       WFC
Date
2006-01-03 00:00:00-05:00  12838600  5377000  11016400
2006-01-04 00:00:00-05:00  13491500  7977800  10870000
2006-01-05 00:00:00-05:00   8109400  5778000  10158000
2006-01-06 00:00:00-05:00   7966900  6889800   8403800
2006-01-09 00:00:00-05:00  16575200  4144500   5619600

[5 rows x 36 columns]

### EDA
---

**1.  Max Closing Price for each banks throughout the time period.**

In [45]:
df['Close'].max()

BAC     54.900002
C      564.099976
GS     247.919998
JPM     70.080002
MS      89.300003
WFC     58.520000
dtype: float64

### Reading New Stocks - Microsoft, Apple and Google
---

In [12]:
# if we read data separately
MSFT = yf.download('MSFT',start_date,end_date)

[*********************100%***********************]  1 of 1 completed

In [14]:
AAPL = yf.download('AAPL', start_date, end_date)

[*********************100%***********************]  1 of 1 completed

In [15]:
GOOG = yf.download('GOOG',start_date,end_date)

[*********************100%***********************]  1 of 1 completed

In [16]:
MSFT.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2006-01-03 00:00:00-05:00,26.250000,27.000000,26.10,26.840000,19.162514,79973000
2006-01-04 00:00:00-05:00,26.770000,27.080000,26.77,26.969999,19.255329,57975600
2006-01-05 00:00:00-05:00,26.959999,27.129999,26.91,26.990000,19.269608,48245500
2006-01-06 00:00:00-05:00,26.889999,27.000000,26.49,26.910000,19.212496,100963000
2006-01-09 00:00:00-05:00,26.930000,27.070000,26.76,26.860001,19.176804,55625000

In [17]:
AAPL.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2006-01-03 00:00:00-05:00,2.585000,2.669643,2.580357,2.669643,2.275651,807234400
2006-01-04 00:00:00-05:00,2.683214,2.713571,2.660714,2.677500,2.282349,619603600
2006-01-05 00:00:00-05:00,2.672500,2.675000,2.633929,2.656429,2.264388,449422400
2006-01-06 00:00:00-05:00,2.687500,2.739286,2.662500,2.725000,2.322838,704457600
2006-01-09 00:00:00-05:00,2.740357,2.757143,2.705000,2.716071,2.315227,675040800

In [18]:
GOOG.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2006-01-03 00:00:00-05:00,10.523555,10.851077,10.416457,10.840119,10.840119,526815259
2006-01-04 00:00:00-05:00,11.056059,11.182087,10.952697,11.089434,11.089434,613747887
2006-01-05 00:00:00-05:00,11.108363,11.246595,10.996283,11.238874,11.238874,433952486
2006-01-06 00:00:00-05:00,11.379098,11.718576,11.288687,11.598028,11.598028,712938289
2006-01-09 00:00:00-05:00,11.616708,11.790805,11.480468,11.628912,11.628912,513593887

### Concatenating above DataFrames
---

In [19]:
#lets concat above three dataframe
tickers = ['MSFT','AAPL','GOOG']
tech_stocks = pd.concat([MSFT, AAPL, GOOG], axis=1, keys=tickers)

In [20]:
tech_stocks.head()

                                MSFT                                          \
                                Open       High    Low      Close  Adj Close
Date
2006-01-03 00:00:00-05:00  26.250000  27.000000  26.10  26.840000  19.162514
2006-01-04 00:00:00-05:00  26.770000  27.080000  26.77  26.969999  19.255329
2006-01-05 00:00:00-05:00  26.959999  27.129999  26.91  26.990000  19.269608
2006-01-06 00:00:00-05:00  26.889999  27.000000  26.49  26.910000  19.212496
2006-01-09 00:00:00-05:00  26.930000  27.070000  26.76  26.860001  19.176804

                                          AAPL                                \
                              Volume      Open      High       Low     Close
Date
2006-01-03 00:00:00-05:00   79973000  2.585000  2.669643  2.580357  2.669643
2006-01-04 00:00:00-05:00   57975600  2.683214  2.713571  2.660714  2.677500
2006-01-05 00:00:00-05:00   48245500  2.672500  2.675000  2.633929  2.656429
2006-01-06 00:00:00-05:00  100963000  2.687500  2.739286  2.662500  2.725000
2006-01-09 00:00:00-05:00   55625000  2.740357  2.757143  2.705000  2.716071

                                                     GOOG             \
                          Adj Close     Volume       Open       High
Date
2006-01-03 00:00:00-05:00  2.275651  807234400  10.523555  10.851077
2006-01-04 00:00:00-05:00  2.282349  619603600  11.056059  11.182087
2006-01-05 00:00:00-05:00  2.264388  449422400  11.108363  11.246595
2006-01-06 00:00:00-05:00  2.322838  704457600  11.379098  11.718576
2006-01-09 00:00:00-05:00  2.315227  675040800  11.616708  11.790805


                                 Low      Close  Adj Close     Volume
Date
2006-01-03 00:00:00-05:00  10.416457  10.840119  10.840119  526815259
2006-01-04 00:00:00-05:00  10.952697  11.089434  11.089434  613747887
2006-01-05 00:00:00-05:00  10.996283  11.238874  11.238874  433952486
2006-01-06 00:00:00-05:00  11.288687  11.598028  11.598028  712938289
2006-01-09 00:00:00-05:00  11.480468  11.628912  11.628912  513593887

In [32]:
tech_stocks.columns.names = ['Ticker', 'Stock Info']

In [33]:
tech_stocks.head()

Ticker                          MSFT                                          \
Stock Info                      Open       High    Low      Close  Adj Close
Date
2006-01-03 00:00:00-05:00  26.250000  27.000000  26.10  26.840000  19.162514
2006-01-04 00:00:00-05:00  26.770000  27.080000  26.77  26.969999  19.255329
2006-01-05 00:00:00-05:00  26.959999  27.129999  26.91  26.990000  19.269608
2006-01-06 00:00:00-05:00  26.889999  27.000000  26.49  26.910000  19.212496
2006-01-09 00:00:00-05:00  26.930000  27.070000  26.76  26.860001  19.176804

Ticker                                    AAPL                                \
Stock Info                    Volume      Open      High       Low     Close
Date
2006-01-03 00:00:00-05:00   79973000  2.585000  2.669643  2.580357  2.669643
2006-01-04 00:00:00-05:00   57975600  2.683214  2.713571  2.660714  2.677500
2006-01-05 00:00:00-05:00   48245500  2.672500  2.675000  2.633929  2.656429
2006-01-06 00:00:00-05:00  100963000  2.687500  2.739286  2.662500  2.725000
2006-01-09 00:00:00-05:00   55625000  2.740357  2.757143  2.705000  2.716071

Ticker                                               GOOG             \
Stock Info                Adj Close     Volume       Open       High
Date
2006-01-03 00:00:00-05:00  2.275651  807234400  10.523555  10.851077
2006-01-04 00:00:00-05:00  2.282349  619603600  11.056059  11.182087
2006-01-05 00:00:00-05:00  2.264388  449422400  11.108363  11.246595
2006-01-06 00:00:00-05:00  2.322838  704457600  11.379098  11.718576
2006-01-09 00:00:00-05:00  2.315227  675040800  11.616708  11.790805

Ticker
Stock Info                       Low      Close  Adj Close     Volume
Date
2006-01-03 00:00:00-05:00  10.416457  10.840119  10.840119  526815259
2006-01-04 00:00:00-05:00  10.952697  11.089434  11.089434  613747887
2006-01-05 00:00:00-05:00  10.996283  11.238874  11.238874  433952486
2006-01-06 00:00:00-05:00  11.288687  11.598028  11.598028  712938289
2006-01-09 00:00:00-05:00  11.480468  11.628912  11.628912  513593887